<div>
  <div class="col-md-4">
    <div>
      <em>Recieved:</em> {{ order.timeRecieved | date:'short' }}</div>
    <div>
      <em>Customer:</em> {{ order.customerName }}</div>
    <div>
      <em>Address:</em> {{ order.destinationAddress }}</div>
    <div>
      <em>Cost:</em> {{ order.cost | currency }}</div>
  </div>
  <div class="col-md-4">
    <ul *ngIf="order">
      <li *ngFor="let item of order.orderItems">
        {{ item.name }}
        <span *ngIf="item.customerNote"> ({{ item.customerNote }})</span>
      </li>
    </ul>
  </div>
  <div class="col-md-4">
    <button (click)="markAsComplete()">Complete</button>
  </div>
</div>
