<div *ngIf="order">
  <div class="col-md-4">
    <div>
      <em>Recieved:</em> {{ order.timeRecieved | date:'short' }}</div>
    <div>
      <em>Customer:</em> {{ order.customerName }}</div>
    <div>
      <em>Address:</em> {{ order.destinationAddress }}</div>
    <div>
      <em>Cost:</em> {{ order.cost | currency }}</div>
    <div *ngIf="order.completed">
      <em>Completed:</em> {{ order.timeCompleted | date:'short' }}</div>
  </div>
  <div class="col-md-4">
    <ul>
      <li *ngFor="let item of order.orderItems">
        {{ item.name }}
        <span *ngIf="item.customerNote"> ({{ item.customerNote }})</span>
      </li>
    </ul>
  </div>
  <div class="col-md-4" *ngIf="!order.completed">
    <button class="btn btn-success" (click)="markAsComplete()">Complete</button>
  </div>
</div>
